<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            margin: 1cm;
        }
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
        }

        table {
            width: 100%;
            border: 1px black solid;
            margin-bottom: 0.5cm;
        }

        td {
            vertical-align: top;
            word-wrap: break-word;
        }

        table thead {
            background-color: lightblue;
        }

        table thead td {
            border: none;
        }

        td h5 {
            margin: 0;
        }

        td h4 {
            margin: 0;
        }

        td h3 {
            margin: 0;
        }

        td p {
            margin: 0;
        }

        body {
            page-break-inside: avoid;
        }

        .header {

        }

        .tr10 {
            width: 10%;
        }

        .tr15 {

        }

        .tr20 {
            width: 20%;
        }

        .tr25 {
            width: 25%;
        }

        .tr30 {
            width: 30%;
        }

        .tr60 {
            width: 60%;
        }

        .tr65 {
            width: 65%;
        }

        .tr75 {
            width: 75%;
        }

        .infoblock {
        }
    </style>
    <title>
        {{#each merknader}}
            {{#eq type "UGYLDIG_TILBAKEDATERING" }}
                AVSLÅTT
            {{/eq}}
        {{/each}}
        {{#eq sykmelding.avsenderSystem.navn "Papirsykmelding"}}Papirsykmelding {{/eq}}
        {{#eq sykmelding.avsenderSystem.navn "Egenmeldt"}}Egenmeldt {{/eq}}
        {{#eq validationResult.status "INVALID" }}AVVIST {{/eq}}Sykmelding for {{ pasient.fornavn }} {{#if pasient.mellomnavn }} {{pasient.mellomnavn}}{{/if}} {{pasient.etternavn}}</title>
</head>
<body>
<table class="header">
    <thead>
    <tr>
        <td class="tr75">
            {{#each merknader}}
                {{#eq type "UGYLDIG_TILBAKEDATERING" }}
                    AVSLÅTT
                {{/eq}}
             {{/each}}
             {{#eq sykmelding.avsenderSystem.navn "Papirsykmelding"}}Papirsykmelding {{/eq}} {{#eq sykmelding.avsenderSystem.navn "Egenmeldt"}}EGENMELDING FOR SELVSTENDIG NÆRINGSDRIVENDE ELLER FRILANSER {{/eq}} {{#eq validationResult.status "INVALID" }}AVVIST {{/eq}}SYKMELDING</td>
        <td>NAVs eksemplar</td>
    </tr>
    <tr>
        <td>Mottatt dato NAV: {{ iso_to_nor_date mottattDato }}</td>
        <td>Behandlet dato: {{ iso_to_nor_date sykmelding.behandletTidspunkt }}</td>
    </tr>
    </thead>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr10"><h4>0</h4></td>
        <td class="tr65"><h4>Syketilfelle startdato</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>0</h4></td>
        <td>
            {{#eq sykmelding.avsenderSystem.navn "Egenmeldt"}}
                Startdato for egenmeldingen
            {{else}}
                Når startet det legemeldte fraværet
            {{/eq}}
        </td>
        <td>{{ iso_to_date sykmelding.syketilfelleStartDato }}</td>
    </tr>
    </tbody>
</table>


<table class="infoblock">
    <thead>
    <tr>
        <td class="tr10"><h4>1</h4></td>
        <td class="tr65"><h4>Pasientopplysninger</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>1.1</h4></td>
        <td>Etternavn</td>
        <td>{{ pasient.etternavn }}</td>
    </tr>
    <tr>
        <td><h4>1.1</h4></td>
        <td>Fornavn</td>
        <td>{{ pasient.fornavn }}</td>
    </tr>
    <tr>
        <td><h4>1.2</h4></td>
        <td>Fødselsnummer</td>
        <td>{{ pasient.personnummer }}</td>
    </tr>
    <tr>
        {{#eq rulesetVersion "3"}}
            <td></td>
            <td></td>
            <td></td>
        {{else}}
            <td><h4>1.3</h4></td>
            <td>Telefon</td>
            <td>{{ pasient.tlfNummer }}</td>
        {{/eq}}
    </tr>
    <tr>
        {{#eq rulesetVersion "3"}}
            <td></td>
            <td></td>
            <td></td>
        {{/eq}}
        {{#eq sykmelding.avsenderSystem.navn "Egenmeldt"}}
            <td></td>
            <td></td>
            <td></td>
        {{else}}
            <td><h4>1.4</h4></td>
            <td>Navn på pasientens fastlege</td>
            <td>{{ sykmelding.navnFastlege }}</td>
        {{/eq}}
    </tr>
    </tbody>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr10"><h4>2</h4></td>
        <td class="tr65"><h4>Arbeidsgiver</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>2.1</h4></td>
        <td>Pasienten har:</td>
        <td>
            {{#eq sykmelding.arbeidsgiver.harArbeidsgiver "EN_ARBEIDSGIVER"}}Én arbeidsgiver{{/eq}}
            {{#eq sykmelding.arbeidsgiver.harArbeidsgiver "FLERE_ARBEIDSGIVERE"}}Flere arbeidsgivere{{/eq}}
            {{#eq sykmelding.arbeidsgiver.harArbeidsgiver "INGEN_ARBEIDSGIVER"}}Ingen arbeidsgiver{{/eq}}
        </td>
    </tr>
    <tr>
        <td><h4>2.2</h4></td>
        <td>Arbeidsgiver for denne perioden</td>
        <td>{{ sykmelding.arbeidsgiver.navn }}</td>
    </tr>
    <tr>
        <td><h4>2.3</h4></td>
        <td>
        {{#eq sykmelding.avsenderSystem.navn "Egenmeldt"}}
            Yrke /stilling for denne egenmeldingen
        {{else}}
            Yrke/stilling for denne sykmeldingen
        {{/eq}}
        </td>
        <td>{{ sykmelding.arbeidsgiver.yrkesbetegnelse }}</td>
    </tr>
    <tr>
        <td><h4>2.4</h4></td>
        <td>Stillingsprosent</td>
        <td>{{ sykmelding.arbeidsgiver.stillingsprosent }}</td>
    </tr>
    </tbody>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr10"><h4>3</h4></td>
        <td class="tr20"><h4>Diagnose</h4></td>
        <td class="tr30"></td>
        <td class="tr15"></td>
        <td class="tr25"></td>
    </tr>
    </thead>
    <tbody>
    {{#if sykmelding.medisinskVurdering.hovedDiagnose }}
        <tr>
            <td><h4>3.1</h4></td>
            <td><h4>Hoveddiagnose</h4></td>
            <td>
                <h4>3.1.1 Kodesystem</h4>
                <p>
                    {{#eq sykmelding.medisinskVurdering.hovedDiagnose.system "2.16.578.1.12.4.1.1.7170" }}ICPC-2{{/eq}}
                    {{#eq sykmelding.medisinskVurdering.hovedDiagnose.system "2.16.578.1.12.4.1.1.7110" }}ICD-10{{/eq}}
                </p>
            </td>
            <td>
                <h4>3.1.2 Kode</h4>
                <p>{{ sykmelding.medisinskVurdering.hovedDiagnose.kode }}</p>
            </td>
            <td>
                <h4>3.1.3 Diagnose</h4>
                <p>{{ sykmelding.medisinskVurdering.hovedDiagnose.tekst }}</p>
            </td>
        </tr>
    {{/if}}
    {{#if sykmelding.medisinskVurdering.biDiagnoser }}
        <tr>
            <td><h4>3.2</h4></td>
            <td><h4>Bidiagnoser</h4></td>
            <td>
                <h4>3.1.1 Kodesystem</h4>
                <p>
                    {{#each sykmelding.medisinskVurdering.biDiagnoser }}
                        {{#eq system "2.16.578.1.12.4.1.1.7170" }}
                            ICPC-2
                        {{/eq}}
                        {{#eq system "2.16.578.1.12.4.1.1.7110" }}
                            ICD-10
                        {{/eq}}
                    {{/each}}
                </p>
            </td>
            <td>
                <h4>3.1.2 Kode</h4>
                {{#each sykmelding.medisinskVurdering.biDiagnoser }}
                    <p>
                        {{ kode }}</p>
                {{/each}}
            </td>
            <td>
                <h4>3.1.3 Diagnose</h4>
                {{#each sykmelding.medisinskVurdering.biDiagnoser }}
                    <p>{{ tekst }}</p>
                {{/each}}
            </td>
        </tr>
    {{/if}}
    {{#if sykmelding.medisinskVurdering.annenFraversArsak }}
        <tr>
            <td><h4>3.3</h4></td>
            <td><h4>Annen fraværsgrunn</h4></td>
            <td colspan="2">
                <h4>3.3.1 Lovfestet fraværsgrunn</h4>
                {{#each sykmelding.medisinskVurdering.annenFraversArsak.grunn }}
                    <p>
                        {{this}}
                    </p>
                {{/each }}
            </td>
            <td>
                <h4>3.3.2 Beskriv fravær</h4>
                <p>{{ sykmelding.medisinskVurdering.annenFraversArsak.beskrivelse }}</p>
            </td>
        </tr>
    {{/if}}
    {{#if sykmelding.medisinskVurdering.svangerskap }}
        <tr>
            <td><h4>3.4</h4></td>
            <td colspan="4">
                <h4>Sykdommen er svangerskapsrelatert</h4>
            </td>
        </tr>
    {{/if}}
    {{#if sykmelding.medisinskVurdering.yrkesskade}}
        <tr>
            <td><h4>3.5</h4></td>
            <td colspan="4"><h4>Sykmeldingen kan skyldes yrkesskade/yrkessykdom</h4></td>
        </tr>
        <tr>
            <td><h4>3.6</h4></td>
            <td><h4>Skadedato</h4></td>
            <td colspan="3">{{iso_to_date sykmelding.medisinskVurdering.yrkesskadeDato }}</td>
        </tr>
    {{/if}}
    {{#if sykmelding.skjermesForPasient }}
        <tr>
            <td><h4>3.7</h4></td>
            <td colspan="4"><h4>Pasienten må skjermes for medisinske opplysninger</h4></td>
        </tr>
    {{/if}}
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <td class="tr10"><h4>4</h4></td>
        <td class="tr30"><h4>Mulighet for arbeid</h4></td>
        <td class="tr10"></td>
        <td class="tr10"></td>
        <td class="tr10"></td>
        <td class="tr10"></td>
    </tr>
    </thead>
    <tbody>
    {{#contains_field sykmelding.perioder "avventendeInnspillTilArbeidsgiver"}}
        <tr>
            <td><h4>4.1</h4></td>
            <td><h4>Pasienten kan benytte avventende sykmelding</h4></td>
            <td><h5>4.1.1 f.o.m.</h5></td>
            <td><h5>4.1.2 t.o.m.</h5></td>
            <td></td>
            <td></td>
        </tr>
        {{#each sykmelding.perioder }}
            {{#if avventendeInnspillTilArbeidsgiver}}
                <tr>
                    <td colspan="2"></td>
                    <td>{{iso_to_date fom }}</td>
                    <td>{{iso_to_date tom }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><h4>4.1.3</h4></td>
                    <td>
                        <h4>Innspill til arbeidsgiver om tilrettelegging</h4>
                        {{ avventendeInnspillTilArbeidsgiver }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {{/if}}
        {{/each}}
    {{/contains_field}}
    {{#contains_field sykmelding.perioder "gradert"}}
        <tr>
            <td><h4>4.2</h4></td>
            <td><h4>Pasienten kan være delvis i arbeid(sykmeldingsgrad)</h4></td>
            <td><h5>4.2.1 f.o.m.</h5></td>
            <td><h5>4.2.2 t.o.m.</h5></td>
            <td><h5>4.2.3 grad for sykmelding</h5></td>
            <td><h5>4.2.3 reisetilskudd</h5></td>
        </tr>
        {{#each sykmelding.perioder }}
            {{#if gradert}}
                <tr>
                    <td colspan="2"></td>
                    <td>{{iso_to_date fom }}</td>
                    <td>{{iso_to_date tom }}</td>
                    <td>{{ gradert.grad }}</td>
                    <td>
                      {{#if gradert.reisetilskudd }}
                         Ja
                      {{else}}
                          Nei
                      {{/if}}
                    </td>
                </tr>
            {{/if}}
        {{/each}}
    {{/contains_field}}
    {{#contains_field sykmelding.perioder "aktivitetIkkeMulig"}}
        <tr>
            <td><h4>4.3</h4></td>
            <td><h4>Pasienten kan ikke være i arbeid (100 % sykmeldt)</h4></td>
            <td><h5>4.3.1 f.o.m</h5></td>
            <td><h5>4.3.2 t.o.m</h5></td>
            <td></td>
            <td></td>
        </tr>
        {{#each sykmelding.perioder }}
            {{#if aktivitetIkkeMulig }}
                <tr>
                    <td colspan="2"></td>
                    <td>{{ iso_to_date fom }}</td>
                    <td>{{ iso_to_date tom }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {{#if aktivitetIkkeMulig.medisinskArsak }}
                    <tr>
                        <td><h4>4.3.3</h4></td>
                        <td><h4>Medisinske årsaker hindrer arbeidsrelatert aktivitet</h4></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {{#if aktivitetIkkeMulig.medisinskArsak.arsak }}
                    <tr>
                        <td><h4>4.3.3.1</h4></td>
                        <td>
                            <h4>Angi hva som er årsaken</h4>
                            {{#each aktivitetIkkeMulig.medisinskArsak.arsak}}
                                <li>{{this}}</li>
                            {{/each}}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {{/if}}
                    {{#if aktivitetIkkeMulig.medisinskArsak.beskrivelse }}
                    <tr>
                        <td><h4>4.3.3.2</h4></td>
                        <td>
                            <h4>Beskriv nærmere</h4>
                            {{ aktivitetIkkeMulig.medisinskArsak.beskrivelse}}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {{/if}}
                {{/if}}
                {{#if aktivitetIkkeMulig.arbeidsrelatertArsak }}
                    <tr>
                        <td><h4>4.3.4</h4></td>
                        <td><h4>Forhold på arbeidsplassen hindrer arbeidsrelatert aktivitet</h4></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {{#if aktivitetIkkeMulig.arbeidsrelatertArsak.arsak }}
                    <tr>
                        <td><h4>4.3.4.1 </h4></td>
                        <td>
                            <h4>Angi hva som er årsaken</h4>
                            {{#each aktivitetIkkeMulig.arbeidsrelatertArsak.arsak}}
                                <li>{{this}}</li>
                            {{/each}}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {{/if}}

                    {{#if aktivitetIkkeMulig.arbeidsrelatertArsak.beskrivelse }}
                        <tr>
                            <td><h4>4.3.4.2 </h4></td>
                            <td>
                                <h4>Beskriv nærmere</h4>
                                {{aktivitetIkkeMulig.arbeidsrelatertArsak.beskrivelse}}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/each}}
    {{/contains_field}}
    {{#contains_field sykmelding.perioder "behandlingsdager" }}
        <tr>
            <td><h4>4.4</h4></td>
            <td><h4>Pasienten kan ikke være i arbeid på behandlingsdager</h4></td>
            <td><h5>4.4.1 f.o.m.</h5></td>
            <td><h5>4.4.2 t.o.m.</h5></td>
            <td><h5>4.4.3 Antall dager</h5></td>
        </tr>
        {{#each sykmelding.perioder }}
            {{#if behandlingsdager }}
                <tr>
                    <td colspan="2"></td>
                    <td>{{iso_to_date fom}}</td>
                    <td>{{iso_to_date tom}}</td>
                    <td>{{ behandlingsdager }}</td>
                </tr>
            {{/if}}
        {{/each}}
    {{/contains_field}}
    {{#contains_field sykmelding.perioder "reisetilskudd"}}
        <tr>
            <td><h4>4.5</h4></td>
            <td><h4>Pasienten kan være i fullt arbeid ved bruk av reisetilskudd</h4></td>
            <td><h5>4.5.1 f.o.m.</h5></td>
            <td><h5>4.5.2 f.o.m.</h5></td>
            <td></td>
        </tr>
        {{#each sykmelding.perioder}}
            {{#if reisetilskudd }}
                <tr>
                    <td colspan="2"></td>
                    <td>{{iso_to_date fom}}</td>
                    <td>{{iso_to_date tom}}</td>
                    <td></td>
                </tr>
            {{/if}}
        {{/each}}
    {{/contains_field}}
    </tbody>
</table>

{{#if sykmelding.prognose}}
    <table>
        <thead>
        <tr>
            <td class="tr10"><h4>5</h4></td>
            <td class="tr60"><h4>Friskmelding/Prognose</h4></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><h4>5.1</h4></td>
            <td><h4>Pasienten er 100 prosent arbeidsfør etter denne perioden</h4></td>
            <td>
                    {{#if sykmelding.prognose.arbeidsforEtterPeriode}}
                        Ja
                    {{else}}
                        Nei
                    {{/if}}
            </td>
        </tr>
        {{#if sykmelding.prognose.hensynArbeidsplassen }}
            <tr>
                <td><h4>5.1.1</h4></td>
                <td><h4>Beskriv eventuelle hensyn som må tas på arbeidsplassen</h4></td>

            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    {{ sykmelding.prognose.hensynArbeidsplassen }}
                </td>
            </tr>
        {{/if}}
        {{#eq rulesetVersion "3"}}
        {{else}}
            {{#if sykmelding.prognose.erIArbeid}}
                <tr>
                    <td><h4>5.2</h4></td>
                    <td><h4>Pasient med arbeidsgiver: Utdypende opplysninger ved 7 uker</h4></td>
                    <td></td>
                </tr>
                <tr>
                    <td><h4>5.2.1</h4></td>
                    <td><h4>Jeg antar at pasienten på sikt kan komme tilbake til samme arbeidsgiver</h4></td>
                    <td>
                          {{#if sykmelding.prognose.erIArbeid.egetArbeidPaSikt }}
                             Ja
                          {{else}}
                              Nei
                          {{/if}}
                    </td>
                </tr>
                {{#if sykmelding.prognose.erIArbeid.arbeidFOM }}
                    <tr>
                        <td></td>
                        <td>Anslå når du tror dette kan skje</td>
                        <td>{{ iso_to_date sykmelding.prognose.erIArbeid.arbeidFOM }}</td>
                    </tr>
                {{/if}}
                <tr>
                    <td><h4>5.2.2</h4></td>
                    <td><h4>Jeg antar at pasienten på sikt kan komme i arbeid hos annen arbeidsgiver</h4></td>
                    <td colspan="2">
                        {{#if sykmelding.prognose.erIArbeid.annetArbeidPaSikt }}
                             Ja
                          {{else}}
                              Nei
                          {{/if}}
                    </td>
                </tr>
                {{#if sykmelding.prognose.erIArbeid.vurderingsdato }}
                <tr>
                    <td><h4>5.2.3</h4></td>
                    <td><h4>Hvis usikker: Når antar du å kunne gi tilbakemelding på dette?</h4></td>
                    <td>{{ iso_to_date sykmelding.prognose.erIArbeid.vurderingsdato }}</td>
                </tr>
                {{/if}}
            {{/if}}
            {{#if sykmelding.prognose.erIkkeIArbeid }}
                <tr>
                    <td><h4>5.3</h4></td>
                    <td><h4>Pasient uten arbeidsgiver: Utdypende opplysninger ved 7 uker</h4></td>
                    <td></td>
                </tr>
                <tr>
                    <td><h4>5.3.1</h4></td>
                    <td><h4>Jeg antar at pasienten på sikt kan komme tilbake i arbeid</h4></td>
                    <td colspan="2">
                        {{#if sykmelding.prognose.erIkkeIArbeid.arbeidsforPaSikt }}
                             Ja
                          {{else}}
                              Nei
                          {{/if}}
                    </td>
                </tr>
                {{#if sykmelding.prognose.erIkkeIArbeid.arbeidsforPaSikt }}
                <tr>
                    <td></td>
                    <td>Anslå når du tror dette kan skje</td>
                    <td>{{ iso_to_date sykmelding.prognose.erIkkeIArbeid.arbeidsforFOM }}</td>
                </tr>
                {{/if}}
                {{#if sykmelding.prognose.erIkkeIArbeid.vurderingsdato }}
                <tr>
                    <td><h4>5.3.2</h4></td>
                    <td><h4>Hvis usikker: Når antar du å kunne gi tilbakemelding på dette?</h4></td>
                    <td>{{ iso_to_date sykmelding.prognose.erIkkeIArbeid.vurderingsdato }}</td>
                </tr>
                {{/if}}
            {{/if}}
        {{/eq}}
        
        </tbody>
    </table>
{{/if}}

<!-- TODO: this shows when sykmelding.utdypendeOpplysninger returns a empty map it should not -->
{{#eq sykmelding.avsenderSystem.navn "Egenmeldt"}}

{{else}}
{{#if sykmelding.utdypendeOpplysninger}}
    <table>
        <thead>
        <tr>
            <td class="tr10"><h4>6</h4></td>
            <td><h4>Utdypende opplysninger</h4></td>
        </tr>
        </thead>
        {{#each sykmelding.utdypendeOpplysninger}}
            <tr>
                <td><h4>{{@key}}</h4></td>
                <td>
                    <h4>
                        {{#eq @key "6.1"}}Utdypende opplysninger ved 4,12 og 28 uker ved visse diagnoser{{/eq}}
                        {{#eq @key "6.2"}}Utdypende opplysninger ved 8,17 og 39 uker{{/eq}}
                        {{#eq @key "6.3"}}Opplysninger ved vurdering av aktivitetskravet{{/eq}}
                        {{#eq @key "6.4"}}Helseopplysninger ved 17 uker{{/eq}}
                        {{#eq @key "6.5"}}Utdypende opplysninger ved 39 uker{{/eq}}
                        {{#eq @key "6.6"}}Helseopplysninger dersom pasienten søker om AAP{{/eq}}
                    </h4>
                </td>
            </tr>
        {{@value}}
            {{#each this}}
                <tr>
                    <td><h4>{{ @key }}</h4></td>
                    <td>{{ sporsmal }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ svar }}</td>
                </tr>
            {{/each}}
        {{/each}}
    </table>
{{/if}}
{{/eq}}
{{#eq rulesetVersion "3"}}
{{else}}
    {{#any sykmelding.tiltakArbeidsplassen sykmelding.tiltakNAV sykmelding.andreTiltak}}
        <table>
            <thead>
            <tr>
                <td class="tr10"><h4>7</h4></td>
                <td><h4>Hva skal til for  bedre arbeidsevnen?</h4></td>
            </tr>
            </thead>
            <tbody>
            {{#if sykmelding.tiltakArbeidsplassen}}
                <tr>
                    <td><h4>7.1</h4></td>
                    <td>Tilrettelegging/hensyn som bør tas på arbeidsplassen. Beskriv</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ sykmelding.tiltakArbeidsplassen }}</td>
                </tr>
            {{/if}}
            {{#if sykmelding.tiltakNAV }}
                <tr>
                    <td><h4>7.2</h4></td>
                    <td>Tiltak i regi av NAV. Beskriv</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ sykmelding.tiltakNAV }}</td>
                </tr>
            {{/if}}
            {{#if sykmelding.andreTiltak }}
                <tr>
                    <td><h4>7.3</h4></td>
                    <td>Eventuelle andre innspill til NAV. Beskriv</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ sykmelding.andreTiltak }}</td>
                </tr>
            {{/if}}
            </tbody>
        </table>
    {{/any}}
{{/eq}}
{{#if sykmelding.meldingTilNAV.beskrivBistand}}
    <table>
        <thead>
        <tr>
            <td class="tr10"><h4>8</h4></td>
            <td><h4>Melding til NAV</h4></td>
        </tr>
        </thead>
        <tbody>
        {{#eq rulesetVersion "3"}}
            {{#if sykmelding.meldingTilNAV.beskrivBistand}}
                <tr>
                    <td><h4>8.1</h4></td>
                    <td><h4>Ønskes bistand fra NAV</h4></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ sykmelding.meldingTilNAV.beskrivBistand }}</td>
                </tr>
            {{/if}}
        {{else}}
            {{#if sykmelding.meldingTilNAV.bistandUmiddelbart}}
                <tr>
                    <td><h4>8.1</h4></td>
                    <td><h4>Ønsker du bistand fra NAV nå</h4></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Ja</td>
                </tr>
            {{/if}}
            <tr>
                <td><h4>8.2</h4></td>
                <td><h4>Begrunnelse</h4></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ sykmelding.meldingTilNAV.beskrivBistand }}</td>
            </tr>
        {{/eq}}
        </tbody>
    </table>
{{/if}}
{{#if sykmelding.meldingTilArbeidsgiver}}
    <table>
        <thead>
        <tr>
            <td class="tr10"><h4>9</h4></td>
            <td class="Melding til arbeidsgiver"></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><h4>9.1</h4></td>
            {{#eq rulesetVersion "3"}}
                <td><h4>Innspill til arbeidsgiver</h4></td>
            {{else}}
                <td><h4>Andre innspill til arbeidsgiver</h4></td>
            {{/eq}}
        </tr>
        <tr>
            <td></td>
            <td>{{ sykmelding.meldingTilArbeidsgiver }}</td>
        </tr>
        </tbody>
    </table>
{{/if}}

{{#eq sykmelding.avsenderSystem.navn "Egenmeldt"}}

{{else}}
{{#if sykmelding.kontaktMedPasient}}
    <table>
        <thead>
        <tr>
            <td class="tr10"><h4>11</h4></td>
            <td class="tr60"><h4>Tilbakedatering</h4></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {{#if sykmelding.kontaktMedPasient.kontaktDato}}
        <tr>
            <td><h4>11.1</h4></td>
            <td><h4>Dato for dokumenterbar kontakt med pasienten</h4></td>
            <td>{{ sykmelding.kontaktMedPasient.kontaktDato }}</td>
        </tr>
        {{/if}}
        {{#if sykmelding.kontaktMedPasient.begrunnelseIkkeKontakt }}
        <tr>
            <td><h4>11.2</h4></td>
            <td><h4>Begrunn årsaken til tilbakedateringen</h4></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                {{ sykmelding.kontaktMedPasient.begrunnelseIkkeKontakt }}
            </td>
        </tr>
        {{/if}}
        </tbody>
    </table>
{{/if}}
{{/eq}}


<table>
    <thead>
    <tr>
        <td class="tr10"><h4>12</h4></td>
        <td class="tr60"><h4>Bekreftelse</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>12.1</h4></td>
        <td><h4>
            {{#eq sykmelding.avsenderSystem.navn "Egenmeldt"}}
                Dato for når egenmeldingen ble registrert hos NAV
            {{else}}
                Pasienten er kjent eller har vist legitimasjon
            {{/eq}}
        </h4></td>
        <td>{{iso_to_nor_date sykmelding.behandletTidspunkt }}</td>
    </tr>
    <tr>
        <td><h4>12.2</h4></td>
        <td><h4>Sykmelders navn</h4></td>
        <td>{{ sykmelding.behandler.fornavn }}{{#if sykmelding.behandler.mellomnavn}} {{sykmelding.behandler.mellomnavn}}{{/if}} {{sykmelding.behandler.etternavn}}</td>
    </tr>
    <tr>
        <td><h4>12.4</h4></td>
        <td><h4>HPR-nummer</h4></td>
        <td>{{ sykmelding.behandler.hpr }}</td>
    </tr>
    <tr>
        <td><h4>12.5</h4></td>
        <td><h4>Telefon</h4></td>
        <td>{{ sykmelding.behandler.tlf }}</td>
    </tr>
    <tr>
        <td><h4>12.6</h4></td>
        <td><h4>Adresse</h4></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            {{ sykmelding.behandler.adresse.gate }}{{#if sykmelding.behandler.adresse.gate}},{{/if}} {{ sykmelding.behandler.adresse.postnummer }} {{ sykmelding.behandler.adresse.kommune }}
        </td>
    </tr>
    <tr>
        <td><h4></h4></td>
        <td><h4>Organisasjonsnavn</h4></td>
        <td>{{ behandlerKontorOrgName }}</td>
    </tr>
    <tr>
        <td><h4></h4></td>
        <td><h4>Avsendersystem</h4></td>
        <td>
            <li> Navn: {{ sykmelding.avsenderSystem.navn }} </li>
            <li> Versjon: {{ sykmelding.avsenderSystem.versjon }} </li>
        </td>
    </tr>
    </tbody>
</table>

{{#eq validationResult.status "INVALID" }}
<table>
    <thead>
    <tr>
        <td class="tr10"><h4>13</h4></td>
        <td class="tr20"><h4>Begrunnelse for avvisning</h4></td>
        <td>Begrunnelse til sykmeldt</td>
        <td>Begrunnelse til sykmelder</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="0"></td>
        <td colspan="0"></td>
        <td>
            <ul>{{#each validationResult.ruleHits}}
                {{#eq ruleStatus "INVALID" }}
                <li>{{messageForUser}}</li>
                {{/eq}}
            {{/each}}
            </ul>
        </td>
        <td>
            <ul>{{#each validationResult.ruleHits}}
                {{#eq ruleStatus "INVALID" }}
                <li>{{messageForSender}}</li>
                {{/eq}}
            {{/each}}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{{/eq}}

{{#if merknader }}
    <table>
        <thead>
        <tr>
            <td><h4>-</h4></td>
            <td><h4>Merknader</h4></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            {{#each merknader}}
                {{#eq type "UGYLDIG_TILBAKEDATERING" }}
                    <tr>
                        <td></td>
                        <td><h4>Avslått</h4></td>
                        <td>Sykmeldingen er registrert med merknad om avslag pga. ugyldig tilbakedatering.</td>
                    </tr>
                {{/eq}}
                {{#eq type "TILBAKEDATERING_KREVER_FLERE_OPPLYSNINGER" }}
                    <tr>
                        <td></td>
                        <td><h4>Krever flere opplysninger</h4></td>
                        <td>NAV trenger flere opplysninger for å vurdere om sykmeldingen gir rett på sykepenger for den tilbakedaterte perioden.</td>
                    </tr>
                {{/eq}}
            {{/each}}
        </tbody>
    </table>
{{/if}}

<table class="footer">
    <thead>
    <tr>
        <td>Teknisk sporingsinformasjon for denne sykmeldingen: {{ sykmelding.id }} </td>
    </tr>
    </thead>
</table>

</body>
</html>
