<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            margin: 1cm;
        }
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
        }

        table {
            width: 100%;
            border: 1px black solid;
            margin-bottom: 0.5cm;
        }

        td {
            vertical-align: top;
            word-wrap: break-word;
        }

        table thead {
            background-color: lightblue;
        }

        table thead td {
            border: none;
        }

        td h5 {
            margin: 0;
        }

        td h4 {
            margin: 0;
        }

        td h3 {
            margin: 0;
        }

        td p {
            margin: 0;
        }

        body {
            page-break-inside: avoid;
        }

        .header {

        }

        .tr5 {
            width: 5%;
        }

        .tr10 {
            width: 10%;
        }

        .tr15 {
            width: 15%;
        }

        .tr20 {
            width: 20%;
        }

        .tr25 {
            width: 25%;
        }

        .tr30 {
            width: 30%;
        }

        .tr60 {
            width: 60%;
        }

        .tr65 {
            width: 65%;
        }

        .tr75 {
            width: 75%;
        }

        .infoblock {
        }
    </style>
    <title>{{#eq validationResult.status "INVALID" }}AVVIST {{/eq}}Legeerklæring for {{ pasient.fornavn }}{{#if pasient.mellomnavn }} {{pasient.mellomnavn}}{{/if}} {{pasient.etternavn}} ({{ pasient.fnr }}) </title>
</head>
<body>
<table class="header">
    <thead>
    <tr>
        <td class="tr75">{{#eq validationResult.status "INVALID" }}AVVIST {{/eq}}LEGEERKLÆRING</td>
        <td>NAVs eksemplar</td>
    </tr>
    </thead>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr10"><h4>0</h4></td>
        <td class="tr65"><h4>Erklæringen gjelder</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>0.1</h4></td>
        <td>Arbeidsvurdering ved sykefravær</td>
        <td>{{#if legeerklaering.arbeidsvurderingVedSykefravaer}}X{{/if}}</td>
    </tr>
     <tr>
        <td><h4>0.2</h4></td>
        <td>Arbeidsavklaringspenger</td>
        <td>{{#if legeerklaering.arbeidsavklaringspenger}}X{{/if}}</td>
    </tr>
    <tr>
        <td><h4>0.3</h4></td>
        <td>YrkesrettetAttfoering</td>
        <td>{{#if legeerklaering.yrkesrettetAttforing }}X{{/if}}</td>
    </tr>
     <tr>
        <td><h4>0.4</h4></td>
        <td>Uførepensjon</td>
        <td>{{#if legeerklaering.uforepensjon }}X{{/if}}</td>
    </tr>
    </tbody>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr10"><h4>1</h4></td>
        <td class="tr65"><h4>Opplysninger om pasienten og om arbeidsforhold</h4></td>
        <td class="tr40"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>1.1</h4></td>
        <td>Etternavn</td>
        <td>{{ legeerklaering.pasient.etternavn }}</td>
    </tr>
    <tr>
        <td><h4>1.1</h4></td>
        <td>Fornavn</td>
        <td>{{ legeerklaering.pasient.fornavn }}</td>
    </tr>
    <tr>
        <td><h4>1.2</h4></td>
        <td>Fødselsnummer</td>
        <td>{{ legeerklaering.pasient.fnr }}</td>
    </tr>
    <tr>
        <td><h4>1.3</h4></td>
        <td>Telefon</td>
        <td>{{ legeerklaering.pasient.tlfNummer }}</td>
    </tr>
    <tr>
        <td><h4>1.4</h4></td>
        <td>Navn på pasientens fastlege</td>
        <td>{{ legeerklaering.signatur.navn }}</td>
    </tr>
    <tr>
        <td><h4>1.5</h4></td>
        <td>Yrke</td>
        <td>{{ legeerklaering.pasient.yrke }}</td>
    </tr>
    <tr>
        <td><h4>1.6</h4></td>
        <td>Arbeidsgiverens navn</td>
        <td>{{ legeerklaering.pasient.arbeidsgiver.navn }}</td>
    </tr>
    <tr>
        <td><h4>1.7</h4></td>
        <td>Arbeidsgiverens addresse</td>
        <td>{{ legeerklaering.pasient.arbeidsgiver.adresse }}, {{ legeerklaering.pasient.arbeidsgiver.postnummer }} {{ legeerklaering.pasient.arbeidsgiver.poststed }}</td>
    </tr>
    </tbody>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr5"><h4>2</h4></td>
        <td class="tr25"><h4>Diagnose og sykdomsopplysninger</h4></td>
        <td class="tr10"></td>
        <td class="tr20"></td>
    </tr>
    </thead>
    <tbody>
    {{#if legeerklaering.sykdomsopplysninger.hoveddiagnose }}
        <tr>
            <td><h4>2.1</h4></td>
            <td><h4>Hoveddiagnose</h4></td>
            <td>
                <h4>2.1.1 Kode</h4>
                <p>{{ legeerklaering.sykdomsopplysninger.hoveddiagnose.kode }}</p>
            </td>
            <td>
                <h4>2.1.2 Diagnose</h4>
                <p>{{ legeerklaering.sykdomsopplysninger.hoveddiagnose.tekst }}</p>
            </td>
        </tr>
    {{/if}}
    {{#if legeerklaering.sykdomsopplysninger.bidiagnose }}
        <tr>
            <td><h4>2.2</h4></td>
            <td><h4>Bidiagnoser</h4></td>
            <td>
                <h4>2.2.1 Kode</h4>
                {{#each legeerklaering.sykdomsopplysninger.bidiagnose }}
                    <p>
                        {{ kode }}</p>
                {{/each}}
            </td>
            <td>
                <h4>2.2.2 Diagnose</h4>
                {{#each legeerklaering.sykdomsopplysninger.bidiagnose }}
                    <p>{{ tekst }}</p>
                {{/each}}
            </td>
        </tr>
    {{/if}}
    <tr>
        <td><h4>2.4</h4></td>
        <td><h4>Helt arbeidsufør f.o.m.</h4></td>
        <td>{{ iso_to_nor_date legeerklaering.sykdomsopplysninger.arbeidsuforFra }}</td>
    </tr>
    <tr>
        <td><h4>2.5</h4></td>
        <td colspan="3">
            <h4>Sykehistorie med symptomer og behandling</h4>
            {{ breaklines legeerklaering.sykdomsopplysninger.sykdomshistorie }}
        </td>
    </tr>
    <tr>
        <td><h4>2.6</h4></td>
        <td colspan="3">
            <h4>Status presens (angi dato). Resultat av relevante undersøkelser.</h4>
            {{ breaklines legeerklaering.sykdomsopplysninger.statusPresens }}
        </td>
    </tr>
    <tr>
        <td><h4>2.7</h4></td>
        <td><h4>Bør NAV-kontoret vurdere om det er en:</h4></td>
        <td>
            <h4>2.7.1 Yrkesskade/Yrkessykdom</h4>
            {{#if legeerklaering.sykdomsopplysninger.borNavKontoretVurdereOmDetErEnYrkesskade }}JA{{/if}}
            {{#unless legeerklaering.sykdomsopplysninger.borNavKontoretVurdereOmDetErEnYrkesskade}}NEI{{/unless}}
        </td>
    </tr>
    </tbody>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr5"><h4>3</h4></td>
        <td class="tr20"><h4>Plan for medisinsk utreding og behandling</h4></td>
        <td class="tr20"></td>
        <td class="tr20"></td>
    </tr>
    </thead>
    <tbody>
        {{#if legeerklaering.plan.utredning }}
        <tr>
            <td><h4>3.1</h4></td>
            <td>
                <h4>Er pasienten henvist til Utreding</h4>
                {{ breaklines legeerklaering.plan.utredning.tekst }}
            </td>
            <td>
                <h4>3.1.1 Dato for henvisn.</h4>
                {{iso_to_nor_date legeerklaering.plan.utredning.dato }}
            </td>
            <td>
                <h4>3.1.2 Antatt ventetid (uker)</h4>
                {{ legeerklaering.plan.utredning.antattVentetIUker }}
            </td>
        </tr>
        {{/if}}
        {{#if legeerklaering.plan.behandling }}
        <tr>
            <td><h4>3.2</h4></td>
            <td>
                <h4>Pasienten henvist til Behandling</h4>
                {{ legeerklaering.plan.behandling.tekst }}
            </td>
            <td>
                <h4>3.2.1 Dato for henvisn..</h4>
                {{ iso_to_nor_date legeerklaering.plan.behandling.dato }}
            </td>
            <td>
                <h4>3.2.2 Antatt ventetid (uker).</h4>
                {{ legeerklaering.plan.behandling.antattVentetIUker }}
            </td>
        </tr>
        {{/if}}

        <tr>
            <td><h4>3.3</h4></td>
            <td colspan="3"><h4>Utredningsplan. Oppgi planlagte undersøkelser og tidspunkt/varighet</h4>
            {{ breaklines legeerklaering.plan.utredningsplan }}</td>
        </tr>
        <tr>
            <td><h4>3.4</h4></td>
            <td colspan="3"><h4>Behandlingsplan. Oppgi planlagt behandling og tidspunkt/varighet</h4>
            {{ breaklines legeerklaering.plan.behandlingsplan }}</td>
        </tr>
        <tr>
            <td><h4>3.5</h4></td>
            <td colspan="3"><h4>Ny vurdering av tidligere utrednings-/behandlingsplan</h4>
            {{ breaklines legeerklaering.plan.vurderingAvTidligerePlan }}</td>
        </tr>
        <tr>
            <td><h4>3.6</h4></td>
            <td colspan="3"><h4>Når er det hensiktsmessig, i henhold til utrednings og behandlingsopplegget at NAV-kontoret ber om nye legeopplysninger?</h4>
            {{ breaklines legeerklaering.plan.narSporreOmNyeLegeopplysninger }}</td>
        </tr>
        <tr>
            <td><h4>3.7</h4></td>
            <td colspan="3"><h4>Hvis videre behandling ikke er aktuell, gi begrunnelse</h4>
            {{ breaklines legeerklaering.plan.videreBehandlingIkkeAktueltGrunn }}</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr10">4</td>
        <td class="tr60">Forslag til tiltak utover medisinsk behandling</td>
        <td class="tr40"></td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><h4>4.1</h4></td>
            <td>
                <h4>Er det ut fra en medisinsk vurdering aktuelt med noen av følgende tiltak nå?</h4>
                {{#if legeerklaering.forslagTilTiltak.behov}}JA{{/if}}
                {{#unless legeerklaering.forslagTilTiltak.behov}}NEI{{/unless}}
            </td>
            {{#if legeerklaering.forslagTilTiltak.behov}}
            <td>
                <h4>Tiltak nå</h4>
                <ul>
                    {{#if legeerklaering.forslagTilTiltak.kjopAvHelsetjenester}}
                    <li>a. Kjøp av helse-tjenester</li>
                    {{/if}}
                    {{#if legeerklaering.forslagTilTiltak.reisetilskudd }}
                    <li>b. Reisetilskott i stedet for sykepenger/ arbeidsavklaringspenger</li>
                    {{/if}}
                    {{#if legeerklaering.forslagTilTiltak.aktivSykmelding}}
                    <li>c. Aktiv syk-melding</li>
                    {{/if}}
                    {{#if legeerklaering.forslagTilTiltak.hjelpemidlerArbeidsplassen}}
                    <li>d. Hjelpemidler på arb.plassen</li>
                    {{/if}}
                    {{#if legeerklaering.forslagTilTiltak.arbeidsavklaringspenger }}
                    <li>e. Arbeidsavklarings-penger</li>
                    {{/if}}
                    {{#if legeerklaering.forslagTilTiltak.friskmeldingTilArbeidsformidling}}
                    <li>f. Friskemelding til arbeidsformidling</li>
                    {{/if}}
                    {{#if legeerklaering.forslagTilTiltak.andreTiltak }}
                    <li>g. Andre (hvilke?)</li>
                    <p>{{ legeerklaering.forslagTilTiltak.andreTiltak }}</p>
                    {{/if}}
                    </ul>
            </td>
            {{/if}}
        </tr>
        <tr>
            <td><h4>4.2</h4></td>
            <td>
                <h4>Evt. nærmere opplysninger</h4>
                {{ legeerklaering.forslagTilTiltak.naermereOpplysninger }}
            </td>
        </tr>
        <tr>
            <td><h4>4.3</h4></td>
            <td>
                <h4>Hvis ja, oppgi ev. begrensninger i forhold til tiltak. Hvis nei, gi begrunnelse</h4>
                {{ legeerklaering.forslagTilTiltak.tekst }}
            </td>
        </tr>
    </tbody>
</table>


<table>
    <thead>
    <tr>
        <td class="tr5"><h4>5</h4></td>
        <td class="tr35"><h4>Medisinsk begrunnet vurdering av funksjons- og arbeidsevne</h4></td>
        <td class="tr20"></td>
        <td class="tr20"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>5.1</h4></td>
        <td colspan="3"><h4>Beskriv hvordan funksjonsevnen generelt er nedsatt på grunn av sykdom</h4>
        {{ breaklines legeerklaering.funksjonsOgArbeidsevne.vurderingFunksjonsevne }}</td>
    </tr>
    <tr>
        <td><h4>5.2</h4></td>
        <td colspan="3"><h4>Pasienten er:</h4>
        {{#if legeerklaering.funksjonsOgArbeidsevne.inntektsgivendeArbeid }}i intektsgivende arbeid{{/if}}
        {{#if legeerklaering.funksjonsOgArbeidsevne.hjemmearbeidende }}hjemmearbeidende{{/if}}
        {{#if legeerklaering.funksjonsOgArbeidsevne.student }}student{{/if}}
        {{#if legeerklaering.funksjonsOgArbeidsevne.annetArbeid}}{{legeerklaering.funksjonsOgArbeidsevne.annetArbeid}}{{/if}}</td>
    </tr>
    <tr>
        <td><h4>5.3</h4></td>
        <td><h4>Beskriv kort type arbeid og hvilke krav som stilles</h4></td>
        <td>{{ breaklines funksjonsOgArbeidsevne.kravTilArbeid }}</td>
    </tr>
    <tr>
        <td><h4>5.4</h4></td>
        <td><h4>Vurdering av arbeidsevnen ang tidligere arbeid</h4></td>
        <td>
            <h4>5.4.1 Gjenoppta det tidligere arbeid</h4>
            {{#if legeerklaering.funksjonsOgArbeidsevne.kanGjenopptaTidligereArbeid }}JA{{/if}}
            {{#unless legeerklaering.funksjonsOgArbeidsevne.kanGjenopptaTidligereArbeid}}NEI{{/unless}}
        </td>
        <td>
            <h4>5.4.2 Når kan pasient gjenoppta det tidligere arbeid</h4>
            {{#if legeerklaering.funksjonsOgArbeidsevne.kanGjenopptaTidligereArbeidNa }}Nå{{/if}}
            {{#if legeerklaering.funksjonsOgArbeidsevne.kanGjenopptaTidligereArbeidEtterBehandling }}Etter Behandling{{/if}}
        </td>
    </tr>
    <tr>
        <td><h4>5.5</h4></td>
        <td><h4>Vurdering av arbeidsevnen ang ta annet arbeid</h4></td>
        <td>
            <h4>5.5.1 Kan ta annet arbeid</h4>
            {{#if legeerklaering.funksjonsOgArbeidsevne.kanTaAnnetArbeid }}JA{{/if}}
            {{#unless legeerklaering.funksjonsOgArbeidsevne.kanTaAnnetArbeid}}NEI{{/unless}}
        </td>
        <td>
            <h4>5.5.2 Når kan pasient ta annet arbeid</h4>
            {{#if legeerklaering.funksjonsOgArbeidsevne.kanTaAnnetArbeidNa }}Nå{{/if}}
            {{#if legeerklaering.funksjonsOgArbeidsevne.kanTaAnnetArbeidEtterBehandling }}Etter Behandling{{/if}}
        </td>
    </tr>

    <tr>
        <td><h4>5.6</h4></td>
        <td><h4>Vurdering av arbeidsevnen hensyn</h4></td>
        <td>
            <h4>5.6.1 Hva kan pasient ikke gjøre i den nåværende arbeid?</h4>
            {{ legeerklaering.funksjonsOgArbeidsevne.kanIkkeGjenopptaNaverendeArbeid }}
        </td>
        <td>
            <h4>5.6.2 Hvilke andre hensyn må eventuelt tas ved valg av annet yrke/arbeid?</h4>
            {{ legeerklaering.funksjonsOgArbeidsevne.kanIkkeTaAnnetArbeid }}
        </td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr5">6</td>
        <td class="tr50">Prognose</td>
        <td class="tr15"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>6.1</h4></td>
        <td>
            <h4>a) Antas behandlingen å føre til bedring av arbeidsevnen?</h4>
            {{#if legeerklaering.prognose.vilForbedreArbeidsevne }}JA{{/if}}
            {{#unless legeerklaering.prognose.vilForbedreArbeidsevne }}NEI{{/unless}}
        </td>
    </tr>
    <tr>
        <td><h4>6.2</h4></td>
        <td>
            <h4>b) Anslå varigheten av sykdom/skade (evt. lyte)</h4>
            {{ legeerklaering.prognose.anslattVarighetSykdom }}
        </td>
    </tr>
    <tr>
        <td><h4>6.3</h4></td>
        <td>
            <h4>c) Anslå varigheten av funksjonsnedsettelsen</h4>
            {{ legeerklaering.prognose.anslattVarighetFunksjonsnedsetting }}
        </td>
    </tr>
    <tr>
        <td><h4>6.4</h4></td>
        <td>
            <h4>d) Anslå varigheten av den nedsatte arbeidsevnen</h4>
            {{ legeerklaering.prognose.anslattVarighetNedsattArbeidsevne }}
        </td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr5">7</td>
        <td class="tr50">Årsaksammenheng</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>7.1</h4></td>
        <td>
            <h4>Anslå hvor stor betydning funksjonsnedsettelsen har for at arbeidsevnen er nedsatt</h4>
            {{ breaklines legeerklaering.arsakssammenheng }}
        </td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr5">8</td>
        <td class="tr50">Andre opplysninger</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>8.1</h4></td>
        <td>
            {{ breaklines legeerklaering.andreOpplysninger }}
        </td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr30">9</td>
        <td class="tr30">Samarbeid/kontakt</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>9.1 Kryss av for den du ønsker NAV-kontoret skal ta kontakt med</h4></td>
       <td>
           <ul>{{#if legeerklaering.kontakt.skalKontakteBehandlendeLege}}
            <li>Behandlende lege</li>
            {{/if}}
            {{#if legeerklaering.kontakt.skalKontakteArbeidsgiver}}
            <li>Arbeidsgiver</li>
            {{/if}}
            {{#if legeerklaering.kontakt.skalKontakteBasisgruppe}}
            <li>Basisgruppe</li>
            {{/if}}
            {{#if legeerklaering.kontakt.kontakteAnnenInstans}}
            <li>{{legeerklaering.kontakt.kontakteAnnenInstans}}</li>
            {{/if}}
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr30">10</td>
        <td class="tr10">Forbehold</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>10.1 Er det noe i legeerklæringen som pasienten ikke bør få vite av medisinske grunner?</h4></td>
        {{#if legeerklaering.pasientenBurdeIkkeVite}}
            {{ legeerklaering.pasientenBurdeIkkeVite }}
        {{/if}}
        {{#unless legeerklaering.pasientenBurdeIkkeVite}}NEI{{/unless}}
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr20">11</td>
        <td class="tr30">Legens underskrift mv.</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>11.1 Dato</h4></td>
        {{iso_to_nor_date legeerklaering.signatur.dato }}
    </tr>
    <tr>
        <td><h4>11.2 Legens adresse</h4></td>
        {{ legeerklaering.signatur.adresse }}, {{ legeerklaering.signatur.postnummer }} {{ legeerklaering.signatur.poststed }}
    </tr>
    <tr>
        <td><h4>11.3 Legens underskrift</h4></td>
        {{ legeerklaering.signatur.navn }}
    </tr>

    <tr>
        <td><h4>11.4 Legens telefonnr.</h4></td>
        {{ legeerklaering.signatur.tlfNummer }}
    </tr>

    </tbody>
</table>


{{#eq validationResult.status "INVALID" }}
<table>
    <thead>
    <tr>
        <td class="tr5"><h4>12</h4></td>
        <td class="tr60"><h4>Begrunnelse for avvising</h4></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="0"></td>
        <td>
            <ul>{{#each validationResult.ruleHits}}
                <li>{{messageForSender}}</li>
                {{/each}}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{{/eq}}
</body>
</html>